In [51]:
import pandas as pd

In [62]:
df = pd.read_excel('Cha clean Pin location.xlsx',index_col=0)

In [63]:
df.head()

,SR. NO.,Date,Name,Address,Latitude,Longitude,Pin_code
0,1,2023-04-18,CALIBER C S PRIVATE LIMITED,"MAYURESH COSMOS,401 SECTOR 11,CBD BELAPUR,NEAR...",19.016110,73.041430,400614
1,2,2023-04-18,CARDINAL CUSTOMS BROKER,"SHOP NO.10,THE GREAT EASTERN SUMMIT A CO-OPERA...",19.009650,73.033330,400614
2,3,2023-04-18,CONCORDE LOGISTICS (INDIA),"F-10, NEIGHBOURHOOD SHOPPING COMPLEX,BEHIND SB...",19.033107,73.011932,400706
3,4,2023-04-18,DAVE SHIPPING AGENCY,"RAWAL CHAMBER, 2ND FLOOR,339/41,SAMUEL STREET,...",18.950640,72.835900,400-003
4,5,2023-04-18,DOCKSTAR,"GROUND FLOOR,,RAJGOPAL BHUVAN,,55/57, NANUBHAI...",18.956550,72.825720,400004

In [65]:
import re
# for add in df['Address']:
#     pin_regex = "^[1-9]{1}[0-9]{2}\\s{0, 1}[0-9]{3}$"
#     re.match(add,pin_regex)

In [66]:
# pin_regex = r'\b(\d{})\b'
# df["pin_code"]=df['Address'].str.extract(pin_regex)

In [68]:
df['Pin_code']=df['Address'].str.split(',').str[-1].str.strip()

#df.to_excel('Cha clean Pin location.xlsx')

In [67]:
# regex = "^[1-9]{1}[0-9]{2}\\s{0,1}[0-9]{3}$";
#      # Compile the ReGex
# p = re.compile(regex);

# df["pin_code"] = re.match(p, df['Address'][0])

In [71]:
# from geopy.geocoders import Nominatim
# import pandas as pd

# geolocator = Nominatim(user_agent="my-applion")

# # create a sample DataFrame with latitude and longitude columns
# df = df

# # create empty lists for city, state, and zone
# city_list = []
# state_list = []
# zone_list = []

# # loop over each row of the DataFrame
# for index, row in df.iterrows():
#     # use geopy to reverse geocode the coordinates into a location object
#     location = geolocator.reverse(f"{row['latitude']}, {row['longitude']}")
    
#     # extract the city, state, and zone information from the location object
#     address = location.raw['address']
#     city = address.get('city', '')
#     state = address.get('state', '')
#     zone = address.get('region', '')
    
#     # add the extracted information to the appropriate list
#     city_list.append(city)
#     state_list.append(state)
#     zone_list.append(zone)

# # add the lists as new columns to the original DataFrame
# df['city'] = city_list
# df['state'] = state_list
# df['zone'] = zone_list

In [72]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="sere")

location = geolocator.reverse("52.509669, 13.376294")

print(location.address)

Potsdamer Platz, Mitte, Berlin, 10785, Deutschland